@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #0099ff;
}

hr {
    width: 1000px;
}

.post-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #14171A;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.post-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    color: white;
}

.post-content {
    font-size: 16px;
    margin-bottom: 20px;
    color: grey;
}

.post-author {
    font-size: 14px;
    color: #555;
}

.post-date {
    font-size: 14px;
    color: #555;
}

.post-tag {
    font-size: 14px;
    color: #555;
}

p {
    font-size: 16px;
}

